Service References/LogFileService/LogFileSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReadLogfile">
        <s:complexType />
      </s:element>
      <s:element name="ReadLogfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadLogfileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadLogfileSoapIn">
    <wsdl:part name="parameters" element="tns:ReadLogfile" />
  </wsdl:message>
  <wsdl:message name="ReadLogfileSoapOut">
    <wsdl:part name="parameters" element="tns:ReadLogfileResponse" />
  </wsdl:message>
  <wsdl:portType name="LogFileSvcSoap">
    <wsdl:operation name="ReadLogfile">
      <wsdl:input message="tns:ReadLogfileSoapIn" />
      <wsdl:output message="tns:ReadLogfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogFileSvcSoap" type="tns:LogFileSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadLogfile">
      <soap:operation soapAction="http://tempuri.org/ReadLogfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogFileSvcSoap12" type="tns:LogFileSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadLogfile">
      <soap12:operation soapAction="http://tempuri.org/ReadLogfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogFileSvc">
    <wsdl:port name="LogFileSvcSoap" binding="tns:LogFileSvcSoap">
      <soap:address location="http://localhost/Q3LA.Service/LogFileSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="LogFileSvcSoap12" binding="tns:LogFileSvcSoap12">
      <soap12:address location="http://localhost/Q3LA.Service/LogFileSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>